.env
.env.*
!.env.example
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
*.db
*.sqlite
*.sqlite3
*.db-journal
*.log
*.tmp
*.temp
venv/
.venv/
.DS_Store
.idea/
.vscode/
coverage.xml
htmlcov/
Thumbs.db
